/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}

router-outlet ~ * {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

img.logo {
  width: 100px;
}

.material-icons.md-48 {
  font-size: 48px;
  height: 48px;
  width: 48px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
