<mat-toolbar class="d-flex py-2" color="primary">
  <mat-icon class="md-48 pe-2">
    local_cafe
  </mat-icon>
  <span class="fs-4">Coffee shop</span>
</mat-toolbar>

<div class="align-items-center d-flex flex-column flex-fill justify-content-center">
  <div class="d-flex align-items-center mb-3">
    <mat-icon class="md-48 pe-2">
      search
    </mat-icon>
    <span class="mat-body-strong"> This is not the page you are looking for!</span>
  </div>
  <button mat-flat-button color="primary" routerLink="/order"> Go to home </button>
</div>
