<mat-toolbar class="d-flex justify-content-between py-2" color="primary">
  <mat-icon class="md-48 pe-2">
    local_cafe
  </mat-icon>
  <span class="fs-4">Coffee shop</span>
  <span class="d-flex flex-grow-1 flex-row align-items-center justify-content-end overflow-auto">
    <button class="mx-2" mat-button routerLink="/inventory">
        <mat-icon>inventory</mat-icon>
    </button>
    <button class="mx-2" mat-button routerLink="/order">
        <mat-icon>shopping_cart</mat-icon>
    </button>
  </span>
</mat-toolbar>
